.service-tabs-wrapper {
    background-color: #e2e2e220;
    #simple-tabpanel-0 {
        background-color: #e2e2e220;
    }
    h1 {
        font-family: "Lora", serif;
        font-style: italic;
        color: $secondary-color;
        margin-bottom: 2rem;
    }
    .tab-slider {
        overflow: hidden;
        padding: 1rem;
        .carousel {
            .slide {
                //set height here
            }
        }
        .slider-image-wrapper-service {
            position: relative;
            .hotel-title {
                position: absolute;
                top: 10%;
                color: $white;
                font-size: 3rem;
                text-align: center;
                width: 100%;
            }
        }
    }
    .tab-content {
        position: relative;
        h1 {
            color: $nile-blue;
            font-style: normal;
        }
        ul {
            list-style-type: none;
            padding: 0;
            color: $nile-blue;
            li {
                font-size: 14px;
                color:gray;
                display: block;
            }
            li:before {
                content: "• ";
            }
        }
        button {
            border: none;
            background-color: $primary-color;
            padding: 0.5rem 2rem;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .service-tabs-wrapper {
        #simple-tabpanel-0 {
            background-color: #e2e2e220;
        }
        h1 {
            font-size: 2rem;
        }
        .tab-slider {
            overflow: hidden;
            padding: 0;
            .slider-image-wrapper-service {
                position: relative;
                .hotel-title {
                    top: 10%;
                    font-size: 3rem;
                }
            }
        }
        .tab-content {
            padding: 0 !important;
            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            ul {
                font-size: smaller;
            }
        }
    }
    
}